<ion-header>
  <ion-navbar>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PASSWORD</ion-title>
    <ion-buttons end>
      <cart-indicator (wasClicked)="openCart()"></cart-indicator>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="password">
  <div class="logo_password">
    <img src="https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/lock-512.png">
  </div>

  <div class="change_pass">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item></ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col width-100>
        <div class="btn_change">
          <button ion-button default="true">SEND REQUEST</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>