.logo_password img{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.change_pass {
    margin-top: -20%;
}

.btn_change{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    text-align: center;
    margin-top: -5%;
}

.btn_change button{
    width: 100%;
    margin-top: 5%;
    height: 50px;
    background: red;
}
