ion-slides {
  width: auto;
  height: auto;
  display: block;
}

.swiper-wrapper {
    width: 100%;
    height: 227px;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pmm_menu button{
    margin: 0; 
    margin-right: 10px;
    font-size: 2.4rem;
    font-weight: normal;
    text-align: left;
    color: white;
}