.process {
    margin-top: 15%;
    margin-bottom: 8%;
}

.process img {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}

.choose_add{
    margin-left: 15px;
    margin-bottom: -15px;
}

.choose_add p{
    color: red;
}

.add_add{
    margin-left: 15px;
    margin-top: -15px;
    margin-bottom: 10px;
}